/* EPUB 공통 스타일 */
body {
  font-family: serif;
  font-size: 1em;
  line-height: 1.8;
  color: #222;
  word-break: keep-all;
}

h1 {
  font-size: 1.8em;
  text-align: center;
  margin: 2em 0 1em;
  font-weight: bold;
}

h2 {
  font-size: 1.4em;
  margin: 1.5em 0 0.5em;
  page-break-before: always;
}

h3 {
  font-size: 1.2em;
  margin: 1em 0 0.3em;
}

p {
  text-indent: 1em;
  margin: 0;
}

blockquote {
  margin: 1em 1.5em;
  padding-left: 0.8em;
  border-left: 2px solid #ccc;
  font-style: italic;
  color: #555;
}

hr {
  border: none;
  text-align: center;
  margin: 1.5em 0;
}

hr::after {
  content: "⁂";
  color: #999;
}
